In [1]:
import pandas as pd

In [71]:
df=pd.read_csv('IPLIMB381IPL2013.csv')
df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [3]:
df.shape

(130, 26)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

In [5]:
df.columns

Index(['Sl.NO.', 'PLAYER NAME', 'AGE', 'COUNTRY', 'TEAM', 'PLAYING ROLE',
       'T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL',
       'CAPTAINCY EXP', 'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C',
       'WKTS', 'AVE-BL', 'ECON', 'SR-BL', 'AUCTION YEAR', 'BASE PRICE',
       'SOLD PRICE'],
      dtype='object')

In [6]:
df.head(20)

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000
5,6,"Bailey, GJ",2,AUS,CSK,Batsman,0,0,172,72.26,...,95.45,0,0,0,0.00,0.00,0.00,2009,50000,50000
6,7,"Balaji, L",2,IND,CSK+,Bowler,51,27,120,78.94,...,72.22,1,1342,52,25.81,7.98,19.40,2011,100000,500000
7,8,"Bollinger, DE",2,AUS,CSK,Bowler,54,50,50,92.59,...,165.88,1,693,37,18.73,7.22,15.57,2011,200000,700000
8,9,"Botha, J",2,SA,RR,Allrounder,83,17,609,85.77,...,114.73,3,610,19,32.11,6.85,28.11,2011,200000,950000
9,10,"Boucher, MV",2,SA,RCB+,W. Keeper,5515,1,4686,84.76,...,127.51,13,0,0,0.00,0.00,0.00,2008,200000,450000
10,11,"Bravo, DJ",2,WI,MI+,Allrounder,2200,86,2004,81.39,...,127.12,38,1338,47,28.47,8.12,21.11,2011,200000,200000
11,12,"Chanderpaul, S",3,WI,RCB,Batsman,9918,9,8778,70.74,...,80.64,0,0,0,0.00,0.00,0.00,2008,200000,200000
12,13,"Chawla, PP",1,IND,KXIP,Allrounder,5,3,38,65.51,...,113.09,9,1819,73,126.30,38.11,100.20,2008,125000,400000
13,14,"de Villiers, AB",2,SA,DD+,W. Keeper,5457,2,4998,93.19,...,128.53,42,0,0,0.00,0.00,0.00,2008,200000,300000
14,15,"Dhawan, S",2,IND,MI+,Batsman,0,0,69,56.09,...,122.32,36,66,4,16.50,8.25,12.00,2011,100000,300000
15,16,"Dhoni, MS",2,IND,CSK,W. Keeper,3509,0,6773,88.19,...,136.45,64,0,0,0.00,0.00,0.00,2008,400000,1500000
16,17,"Dilshan, TM",2,SL,DD+,Allrounder,4722,32,6455,86.80,...,117.83,24,356,5,71.20,8.07,53.00,2008,150000,250000
17,18,"Dinda, AB",2,IND,KKR+,Bowler,0,0,18,60.00,...,33.33,0,926,36,25.72,7.29,21.19,2011,100000,375000
18,19,"Dravid, RS",3,IND,RCB+,Batsman,13288,1,10889,71.24,...,116.88,23,0,0,0.00,0.00,0.00,2011,400000,500000
19,20,"Duminy, J-P",2,SA,MI+,Batsman,654,11,2536,84.00,...,119.27,35,377,10,37.70,7.11,31.80,2009,300000,300000

In [7]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,128,129
Sl.NO.,1,2,3,4,5,6,7,8,9,10,...,121,122,123,124,125,126,127,128,129,130
PLAYER NAME,"Abdulla, YA",Abdur Razzak,"Agarkar, AB","Ashwin, R","Badrinath, S","Bailey, GJ","Balaji, L","Bollinger, DE","Botha, J","Boucher, MV",...,"Vettori, DL","Vinay Kumar, R","Warne, SK","Warner, DA","White, CL","Yadav, AS",Younis Khan,Yuvraj Singh,Zaheer Khan,"Zoysa, DNT"
AGE,2,2,2,1,2,2,2,2,2,2,...,2,2,3,1,2,2,2,2,2,2
COUNTRY,SA,BAN,IND,IND,IND,AUS,IND,AUS,SA,SA,...,NZ,IND,AUS,AUS,AUS,IND,PAK,IND,IND,SL
TEAM,KXIP,RCB,KKR,CSK,CSK,CSK,CSK+,CSK,RR,RCB+,...,DD+,RCB+,RR,DD,RCB+,DC,RR,KXIP+,MI+,DC
PLAYING ROLE,Allrounder,Bowler,Bowler,Bowler,Batsman,Batsman,Bowler,Bowler,Allrounder,W. Keeper,...,Allrounder,Bowler,Bowler,Batsman,Batsman,Batsman,Batsman,Batsman,Bowler,Bowler
T-RUNS,0,214,571,284,63,0,51,54,83,5515,...,4486,11,3154,483,146,0,6398,1775,1114,288
T-WKTS,0,18,58,31,0,0,27,50,17,1,...,359,1,708,2,5,0,7,9,288,64
ODI-RUNS-S,0,657,1269,241,79,172,120,50,609,4686,...,2105,43,1018,876,2037,0,6814,8051,790,343
ODI-SR-B,0.0,71.41,80.62,84.56,45.93,72.26,78.94,92.59,85.77,84.76,...,81.93,43.87,72.04,85.79,80.48,0.0,75.78,87.58,73.55,95.81
ODI-WKTS,0,185,288,51,0,0,34,62,72,0,...,282,28,293,0,12,0,3,109,278,108
ODI-SR-BL,0.0,37.6,32.9,36.8,0.0,0.0,42.5,31.3,53.0,0.0,...,45.7,35.3,36.3,0.0,27.5,0.0,86.6,44.3,35.4,39.4
CAPTAINCY EXP,0,0,0,0,0,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,0
RUNS-S,0,0,167,58,1317,63,26,21,335,394,...,121,217,198,1025,745,49,3,1237,99,11
HS,0,0,39,11,71,48,15,16,67,50,...,29,25,34,109,78,16,3,66,23,10
AVE,0.0,0.0,18.56,5.8,32.93,21.0,4.33,21.0,30.45,28.14,...,15.13,9.43,9.9,27.7,31.04,9.8,3.0,26.32,9.9,11.0
SR-B,0.0,0.0,121.01,76.32,120.71,95.45,72.22,165.88,114.73,127.51,...,107.08,104.83,92.52,135.76,132.09,125.64,42.85,131.88,91.67,122.22
SIXERS,0,0,5,0,28,0,1,1,3,13,...,2,5,6,44,29,2,0,67,1,0
RUNS-C,307,29,1059,1125,0,0,1342,693,610,0,...,878,1664,1447,0,70,0,0,569,1783,99
WKTS,15,0,29,49,0,0,52,37,19,0,...,28,61,57,0,0,0,0,23,65,2
AVE-BL,20.47,0.0,36.52,22.96,0.0,0.0,25.81,18.73,32.11,0.0,...,31.36,27.28,25.39,0.0,0.0,0.0,0.0,24.74,27.43,49.5
ECON,8.9,14.5,8.81,6.23,0.0,0.0,7.98,7.22,6.85,0.0,...,6.81,8.24,7.27,0.0,14.0,0.0,0.0,7.02,7.75,9.0
SR-BL,13.93,0.0,24.9,22.14,0.0,0.0,19.4,15.57,28.11,0.0,...,27.75,19.87,20.95,0.0,0.0,0.0,0.0,21.13,21.26,33.0
AUCTION YEAR,2009,2008,2008,2011,2011,2009,2011,2011,2011,2008,...,2008,2011,2008,2011,2008,2010,2008,2011,2008,2008
BASE PRICE,50000,50000,200000,100000,100000,50000,100000,200000,200000,200000,...,250000,100000,450000,200000,100000,50000,225000,400000,200000,100000
SOLD PRICE,50000,50000,350000,850000,800000,50000,500000,700000,950000,450000,...,625000,475000,450000,750000,500000,750000,225000,1800000,450000,110000

In [8]:
df.head(20).transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Sl.NO.,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
PLAYER NAME,"Abdulla, YA",Abdur Razzak,"Agarkar, AB","Ashwin, R","Badrinath, S","Bailey, GJ","Balaji, L","Bollinger, DE","Botha, J","Boucher, MV","Bravo, DJ","Chanderpaul, S","Chawla, PP","de Villiers, AB","Dhawan, S","Dhoni, MS","Dilshan, TM","Dinda, AB","Dravid, RS","Duminy, J-P"
AGE,2,2,2,1,2,2,2,2,2,2,2,3,1,2,2,2,2,2,3,2
COUNTRY,SA,BAN,IND,IND,IND,AUS,IND,AUS,SA,SA,WI,WI,IND,SA,IND,IND,SL,IND,IND,SA
TEAM,KXIP,RCB,KKR,CSK,CSK,CSK,CSK+,CSK,RR,RCB+,MI+,RCB,KXIP,DD+,MI+,CSK,DD+,KKR+,RCB+,MI+
PLAYING ROLE,Allrounder,Bowler,Bowler,Bowler,Batsman,Batsman,Bowler,Bowler,Allrounder,W. Keeper,Allrounder,Batsman,Allrounder,W. Keeper,Batsman,W. Keeper,Allrounder,Bowler,Batsman,Batsman
T-RUNS,0,214,571,284,63,0,51,54,83,5515,2200,9918,5,5457,0,3509,4722,0,13288,654
T-WKTS,0,18,58,31,0,0,27,50,17,1,86,9,3,2,0,0,32,0,1,11
ODI-RUNS-S,0,657,1269,241,79,172,120,50,609,4686,2004,8778,38,4998,69,6773,6455,18,10889,2536
ODI-SR-B,0.0,71.41,80.62,84.56,45.93,72.26,78.94,92.59,85.77,84.76,81.39,70.74,65.51,93.19,56.09,88.19,86.8,60.0,71.24,84.0
ODI-WKTS,0,185,288,51,0,0,34,62,72,0,142,14,32,0,0,1,67,5,4,25
ODI-SR-BL,0.0,37.6,32.9,36.8,0.0,0.0,42.5,31.3,53.0,0.0,34.1,52.8,41.0,0.0,0.0,12.0,58.3,61.4,46.5,47.6
CAPTAINCY EXP,0,0,0,0,0,1,0,0,1,1,0,1,0,1,0,1,1,0,1,0
RUNS-S,0,0,167,58,1317,63,26,21,335,394,839,25,337,1302,1540,1782,1077,6,1703,978
HS,0,0,39,11,71,48,15,16,67,50,70,16,24,105,95,70,76,2,75,74
AVE,0.0,0.0,18.56,5.8,32.93,21.0,4.33,21.0,30.45,28.14,27.97,8.33,13.48,34.26,31.43,37.13,28.34,1.0,27.92,36.22
SR-B,0.0,0.0,121.01,76.32,120.71,95.45,72.22,165.88,114.73,127.51,127.12,80.64,113.09,128.53,122.32,136.45,117.83,33.33,116.88,119.27
SIXERS,0,0,5,0,28,0,1,1,3,13,38,0,9,42,36,64,24,0,23,35
RUNS-C,307,29,1059,1125,0,0,1342,693,610,0,1338,0,1819,0,66,0,356,926,0,377
WKTS,15,0,29,49,0,0,52,37,19,0,47,0,73,0,4,0,5,36,0,10
AVE-BL,20.47,0.0,36.52,22.96,0.0,0.0,25.81,18.73,32.11,0.0,28.47,0.0,126.3,0.0,16.5,0.0,71.2,25.72,0.0,37.7
ECON,8.9,14.5,8.81,6.23,0.0,0.0,7.98,7.22,6.85,0.0,8.12,0.0,38.11,0.0,8.25,0.0,8.07,7.29,0.0,7.11
SR-BL,13.93,0.0,24.9,22.14,0.0,0.0,19.4,15.57,28.11,0.0,21.11,0.0,100.2,0.0,12.0,0.0,53.0,21.19,0.0,31.8
AUCTION YEAR,2009,2008,2008,2011,2011,2009,2011,2011,2011,2008,2011,2008,2008,2008,2011,2008,2008,2011,2011,2009
BASE PRICE,50000,50000,200000,100000,100000,50000,100000,200000,200000,200000,200000,200000,125000,200000,100000,400000,150000,100000,400000,300000
SOLD PRICE,50000,50000,350000,850000,800000,50000,500000,700000,950000,450000,200000,200000,400000,300000,300000,1500000,250000,375000,500000,300000

In [9]:
df.iloc[120:126]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
120,121,"Vettori, DL",2,NZ,DD+,Allrounder,4486,359,2105,81.93,...,107.08,2,878,28,31.36,6.81,27.75,2008,250000,625000
121,122,"Vinay Kumar, R",2,IND,RCB+,Bowler,11,1,43,43.87,...,104.83,5,1664,61,27.28,8.24,19.87,2011,100000,475000
122,123,"Warne, SK",3,AUS,RR,Bowler,3154,708,1018,72.04,...,92.52,6,1447,57,25.39,7.27,20.95,2008,450000,450000
123,124,"Warner, DA",1,AUS,DD,Batsman,483,2,876,85.79,...,135.76,44,0,0,0.00,0.00,0.00,2011,200000,750000
124,125,"White, CL",2,AUS,RCB+,Batsman,146,5,2037,80.48,...,132.09,29,70,0,0.00,14.00,0.00,2008,100000,500000
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.64,2,0,0,0.00,0.00,0.00,2010,50000,750000

In [10]:
df.tail(10)

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
120,121,"Vettori, DL",2,NZ,DD+,Allrounder,4486,359,2105,81.93,...,107.08,2,878,28,31.36,6.81,27.75,2008,250000,625000
121,122,"Vinay Kumar, R",2,IND,RCB+,Bowler,11,1,43,43.87,...,104.83,5,1664,61,27.28,8.24,19.87,2011,100000,475000
122,123,"Warne, SK",3,AUS,RR,Bowler,3154,708,1018,72.04,...,92.52,6,1447,57,25.39,7.27,20.95,2008,450000,450000
123,124,"Warner, DA",1,AUS,DD,Batsman,483,2,876,85.79,...,135.76,44,0,0,0.00,0.00,0.00,2011,200000,750000
124,125,"White, CL",2,AUS,RCB+,Batsman,146,5,2037,80.48,...,132.09,29,70,0,0.00,14.00,0.00,2008,100000,500000
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.64,2,0,0,0.00,0.00,0.00,2010,50000,750000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,42.85,0,0,0,0.00,0.00,0.00,2008,225000,225000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,91.67,1,1783,65,27.43,7.75,21.26,2008,200000,450000
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,122.22,0,99,2,49.50,9.00,33.00,2008,100000,110000

In [11]:
df[-10:]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
120,121,"Vettori, DL",2,NZ,DD+,Allrounder,4486,359,2105,81.93,...,107.08,2,878,28,31.36,6.81,27.75,2008,250000,625000
121,122,"Vinay Kumar, R",2,IND,RCB+,Bowler,11,1,43,43.87,...,104.83,5,1664,61,27.28,8.24,19.87,2011,100000,475000
122,123,"Warne, SK",3,AUS,RR,Bowler,3154,708,1018,72.04,...,92.52,6,1447,57,25.39,7.27,20.95,2008,450000,450000
123,124,"Warner, DA",1,AUS,DD,Batsman,483,2,876,85.79,...,135.76,44,0,0,0.00,0.00,0.00,2011,200000,750000
124,125,"White, CL",2,AUS,RCB+,Batsman,146,5,2037,80.48,...,132.09,29,70,0,0.00,14.00,0.00,2008,100000,500000
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.64,2,0,0,0.00,0.00,0.00,2010,50000,750000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,42.85,0,0,0,0.00,0.00,0.00,2008,225000,225000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,91.67,1,1783,65,27.43,7.75,21.26,2008,200000,450000
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,122.22,0,99,2,49.50,9.00,33.00,2008,100000,110000

In [12]:
df[['PLAYER NAME','COUNTRY']][99:]

          PLAYER NAME COUNTRY
99       Shoaib Malik     PAK
100        Silva, LPC      SL
101         Singh, RP     IND
102         Smith, DR      WI
103         Smith, GC      SA
104     Sohail Tanvir     PAK
105      Sreesanth, S     IND
106         Steyn, DW      SA
107        Styris, SB      NZ
108        Symonds, A     AUS
109          Taibu, T     ZIM
110      Taylor, LRPL      NZ
111     Tendulkar, SR     IND
112        Tiwary, MK     IND
113        Tiwary, SS     IND
114          Tyagi, S     IND
115          Umar Gul     PAK
116       Uthappa, RV     IND
117       Vaas, WPUJC      SL
118     Van der Merwe      SA
119  Venugopal Rao, Y     IND
120       Vettori, DL      NZ
121    Vinay Kumar, R     IND
122         Warne, SK     AUS
123        Warner, DA     AUS
124         White, CL     AUS
125         Yadav, AS     IND
126       Younis Khan     PAK
127      Yuvraj Singh     IND
128       Zaheer Khan     IND
129        Zoysa, DNT      SL

In [13]:
df.iloc[10:21,2:8]

    AGE COUNTRY  TEAM PLAYING ROLE  T-RUNS  T-WKTS
10    2      WI   MI+   Allrounder    2200      86
11    3      WI   RCB      Batsman    9918       9
12    1     IND  KXIP   Allrounder       5       3
13    2      SA   DD+    W. Keeper    5457       2
14    2     IND   MI+      Batsman       0       0
15    2     IND   CSK    W. Keeper    3509       0
16    2      SL   DD+   Allrounder    4722      32
17    2     IND  KKR+       Bowler       0       0
18    3     IND  RCB+      Batsman   13288       1
19    2      SA   MI+      Batsman     654      11
20    2      WI    DC       Bowler     380     157

In [14]:
df[df.columns[2:8]][10:21]

    AGE COUNTRY  TEAM PLAYING ROLE  T-RUNS  T-WKTS
10    2      WI   MI+   Allrounder    2200      86
11    3      WI   RCB      Batsman    9918       9
12    1     IND  KXIP   Allrounder       5       3
13    2      SA   DD+    W. Keeper    5457       2
14    2     IND   MI+      Batsman       0       0
15    2     IND   CSK    W. Keeper    3509       0
16    2      SL   DD+   Allrounder    4722      32
17    2     IND  KKR+       Bowler       0       0
18    3     IND  RCB+      Batsman   13288       1
19    2      SA   MI+      Batsman     654      11
20    2      WI    DC       Bowler     380     157

In [17]:
print(list(df['COUNTRY']))

['SA', 'BAN', 'IND', 'IND', 'IND', 'AUS', 'IND', 'AUS', 'SA', 'SA', 'WI', 'WI', 'IND', 'SA', 'IND', 'IND', 'SL', 'IND', 'IND', 'SA', 'WI', 'SL', 'NZ', 'ENG', 'IND', 'IND', 'WI', 'SA', 'AUS', 'IND', 'IND', 'AUS', 'AUS', 'SA', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'IND', 'IND', 'SL', 'SL', 'IND', 'SA', 'PAK', 'IND', 'IND', 'IND', 'AUS', 'IND', 'IND', 'IND', 'SA', 'IND', 'AUS', 'SL', 'SL', 'ENG', 'SL', 'NZ', 'AUS', 'AUS', 'PAK', 'IND', 'IND', 'PAK', 'SA', 'SA', 'SL', 'AUS', 'IND', 'IND', 'AUS', 'SA', 'IND', 'IND', 'NZ', 'IND', 'IND', 'IND', 'IND', 'IND', 'ENG', 'SA', 'AUS', 'AUS', 'IND', 'IND', 'NZ', 'IND', 'SL', 'WI', 'IND', 'PAK', 'IND', 'IND', 'IND', 'PAK', 'PAK', 'SL', 'IND', 'WI', 'SA', 'PAK', 'IND', 'SA', 'NZ', 'AUS', 'ZIM', 'NZ', 'IND', 'IND', 'IND', 'IND', 'PAK', 'IND', 'SL', 'SA', 'IND', 'NZ', 'IND', 'AUS', 'AUS', 'AUS', 'IND', 'PAK', 'IND', 'IND', 'SL']

In [15]:
df.iloc[:,4]

0       KXIP
1        RCB
2        KKR
3        CSK
4        CSK
       ...
125       DC
126       RR
127    KXIP+
128      MI+
129       DC
Name: TEAM, Length: 130, dtype: object

In [22]:
l=list(df['COUNTRY'].values)
l

['SA',
 'BAN',
 'IND',
 'IND',
 'IND',
 'AUS',
 'IND',
 'AUS',
 'SA',
 'SA',
 'WI',
 'WI',
 'IND',
 'SA',
 'IND',
 'IND',
 'SL',
 'IND',
 'IND',
 'SA',
 'WI',
 'SL',
 'NZ',
 'ENG',
 'IND',
 'IND',
 'WI',
 'SA',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'AUS',
 'SA',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'IND',
 'IND',
 'SL',
 'SL',
 'IND',
 'SA',
 'PAK',
 'IND',
 'IND',
 'IND',
 'AUS',
 'IND',
 'IND',
 'IND',
 'SA',
 'IND',
 'AUS',
 'SL',
 'SL',
 'ENG',
 'SL',
 'NZ',
 'AUS',
 'AUS',
 'PAK',
 'IND',
 'IND',
 'PAK',
 'SA',
 'SA',
 'SL',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'SA',
 'IND',
 'IND',
 'NZ',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'ENG',
 'SA',
 'AUS',
 'AUS',
 'IND',
 'IND',
 'NZ',
 'IND',
 'SL',
 'WI',
 'IND',
 'PAK',
 'IND',
 'IND',
 'IND',
 'PAK',
 'PAK',
 'SL',
 'IND',
 'WI',
 'SA',
 'PAK',
 'IND',
 'SA',
 'NZ',
 'AUS',
 'ZIM',
 'NZ',
 'IND',
 'IND',
 'IND',
 'IND',
 'PAK',
 'IND',
 'SL',
 'SA',
 'IND',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'AUS',
 'IND',
 'PAK',
 'IND',
 'IND',
 'SL']

In [37]:
print(country)
for i in set(l):
    print(i,l.count(i))

NameError: name 'country' is not defined

In [53]:
df.value_counts('COUNTRY')*100/130

COUNTRY
IND    40.769231
AUS    16.923077
SA     12.307692
SL      9.230769
PAK     6.923077
NZ      5.384615
WI      4.615385
ENG     2.307692
BAN     0.769231
ZIM     0.769231
dtype: float64

In [49]:
df.value_counts('COUNTRY',normalize=True)*100

COUNTRY
IND    40.769231
AUS    16.923077
SA     12.307692
SL      9.230769
PAK     6.923077
NZ      5.384615
WI      4.615385
ENG     2.307692
BAN     0.769231
ZIM     0.769231
dtype: float64

In [59]:
df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [75]:
df['BASE PRICE'].sort_values('SOLD PRICE',ascending=False)+df['SOLD PRICE'].sort_values('SOLD PRICE',ascending=False)

C:\Users\JOYDEEP KUNDU\AppData\Local\Temp\ipykernel_16956\815318153.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  df['BASE PRICE'].sort_values('SOLD PRICE',ascending=False)+df['SOLD PRICE'].sort_values('SOLD PRICE',ascending=False)

ValueError: No axis named SOLD PRICE for object type Series